<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaic.auth.thirdParty.dao.AccountDtoMapper">
  
  <resultMap id="BaseResultMap" type="com.yaic.auth.thirdParty.dto.AccountDto">
    <id column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="app_code" jdbcType="VARCHAR" property="appCode" />
    <result column="valid_flag" jdbcType="INTEGER" property="validFlag" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
  </resultMap>
  
  <sql id="Base_Column_List">
    account_id, account_name, app_id, mobile, email, app_code, valid_flag, created_date,
    created_user, updated_date, updated_user
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  
  <select id="getInfoByAppid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account
    where app_id = #{appId}
  </select>
  
  <select id="getLists" parameterType="com.yaic.auth.thirdParty.dto.AccountDto" resultMap="BaseResultMap" >  
    select 
    <include refid="Base_Column_List" />
    from t_account t  
    <trim prefix="WHERE ("  suffix=")" prefixOverrides="AND |OR "> 
		<if test="appId != null">
		  and app_id like CONCAT('%', #{appId}, '%')
		</if>
		<if test="accountName != null">
		  and account_name like CONCAT('%', #{accountName}, '%')
		</if>
		<if test="appCode != null">
		  and app_code like CONCAT('%', #{appCode}, '%')
		</if>
		<if test="mobile != null">
		  and mobile like CONCAT('%', #{mobile}, '%')
		</if>
		<if test="email != null">
		  and email like CONCAT('%', #{email}, '%')
		</if>
		<if test="validFlag != null">
		  and valid_flag = #{validFlag}
		</if>
    </trim>

  </select>  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_account
    where account_id = #{accountId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.yaic.auth.thirdParty.dto.AccountDto">
    insert into t_account (account_id, account_name, app_id, 
      mobile, email, app_code, 
      valid_flag, created_date, created_user, 
      updated_date, updated_user)
    values (#{accountId,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{appCode,jdbcType=VARCHAR}, 
      #{validFlag,jdbcType=CHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{createdUser,jdbcType=VARCHAR}, 
      #{updatedDate,jdbcType=TIMESTAMP}, #{updatedUser,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.yaic.auth.thirdParty.dto.AccountDto">
    insert into t_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="appCode != null">
        app_code,
      </if>
      <if test="validFlag != null">
        valid_flag,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
      <if test="updatedUser != null">
        updated_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        #{validFlag,jdbcType=CHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null">
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        #{updatedUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yaic.auth.thirdParty.dto.AccountDto">
    update t_account
    <set>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null">
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        valid_flag = #{validFlag,jdbcType=CHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null">
        created_user = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUser != null">
        updated_user = #{updatedUser,jdbcType=VARCHAR},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.yaic.auth.thirdParty.dto.AccountDto">
    update t_account
    set account_name = #{accountName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      valid_flag = #{validFlag,jdbcType=CHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_user = #{createdUser,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      updated_user = #{updatedUser,jdbcType=VARCHAR}
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
</mapper>