<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaic.auth.interior.dao.AppParamTypeDtoMapper">
  <resultMap id="BaseResultMap" type="com.yaic.auth.interior.dto.AppParamTypeDto">
    <id column="PARAMETER_TYPE_ID" jdbcType="VARCHAR" property="parameterTypeId" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="UPDATED_DATE" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="PARAMETER_TYPE" jdbcType="VARCHAR" property="parameterType" />
    <result column="PARAMETER_TYPE_CNAME" jdbcType="VARCHAR" property="parameterTypeCname" />
    <result column="PARAMETER_TYPE_ENAME" jdbcType="VARCHAR" property="parameterTypeEname" />
    <result column="PARAMETER_TYPE_TNAME" jdbcType="VARCHAR" property="parameterTypeTname" />
    <result column="VALID_FLAG" jdbcType="INTEGER" property="validFlag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    PARAMETER_TYPE_ID, CREATED_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, PARAMETER_TYPE, 
    PARAMETER_TYPE_CNAME, PARAMETER_TYPE_ENAME, PARAMETER_TYPE_TNAME, VALID_FLAG, REMARK, 
    FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_parameter_type
    where PARAMETER_TYPE_ID = #{parameterTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_parameter_type
    where PARAMETER_TYPE_ID = #{parameterTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yaic.auth.interior.dto.AppParamTypeDto">
    insert into app_parameter_type (PARAMETER_TYPE_ID, CREATED_DATE, CREATED_BY, 
      UPDATED_DATE, UPDATED_BY, PARAMETER_TYPE, 
      PARAMETER_TYPE_CNAME, PARAMETER_TYPE_ENAME, 
      PARAMETER_TYPE_TNAME, VALID_FLAG, REMARK, 
      FLAG)
    values (#{parameterTypeId,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{parameterType,jdbcType=VARCHAR}, 
      #{parameterTypeCname,jdbcType=VARCHAR}, #{parameterTypeEname,jdbcType=VARCHAR}, 
      #{parameterTypeTname,jdbcType=VARCHAR}, #{validFlag,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaic.auth.interior.dto.AppParamTypeDto">
    insert into app_parameter_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parameterTypeId != null">
        PARAMETER_TYPE_ID,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="updatedDate != null">
        UPDATED_DATE,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="parameterType != null">
        PARAMETER_TYPE,
      </if>
      <if test="parameterTypeCname != null">
        PARAMETER_TYPE_CNAME,
      </if>
      <if test="parameterTypeEname != null">
        PARAMETER_TYPE_ENAME,
      </if>
      <if test="parameterTypeTname != null">
        PARAMETER_TYPE_TNAME,
      </if>
      <if test="validFlag != null">
        VALID_FLAG,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parameterTypeId != null">
        #{parameterTypeId,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="parameterType != null">
        #{parameterType,jdbcType=VARCHAR},
      </if>
      <if test="parameterTypeCname != null">
        #{parameterTypeCname,jdbcType=VARCHAR},
      </if>
      <if test="parameterTypeEname != null">
        #{parameterTypeEname,jdbcType=VARCHAR},
      </if>
      <if test="parameterTypeTname != null">
        #{parameterTypeTname,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        #{validFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaic.auth.interior.dto.AppParamTypeDto">
    update app_parameter_type
    <set>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="parameterType != null">
        PARAMETER_TYPE = #{parameterType,jdbcType=VARCHAR},
      </if>
      <if test="parameterTypeCname != null">
        PARAMETER_TYPE_CNAME = #{parameterTypeCname,jdbcType=VARCHAR},
      </if>
      <if test="parameterTypeEname != null">
        PARAMETER_TYPE_ENAME = #{parameterTypeEname,jdbcType=VARCHAR},
      </if>
      <if test="parameterTypeTname != null">
        PARAMETER_TYPE_TNAME = #{parameterTypeTname,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        VALID_FLAG = #{validFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where PARAMETER_TYPE_ID = #{parameterTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaic.auth.interior.dto.AppParamTypeDto">
    update app_parameter_type
    set CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      PARAMETER_TYPE = #{parameterType,jdbcType=VARCHAR},
      PARAMETER_TYPE_CNAME = #{parameterTypeCname,jdbcType=VARCHAR},
      PARAMETER_TYPE_ENAME = #{parameterTypeEname,jdbcType=VARCHAR},
      PARAMETER_TYPE_TNAME = #{parameterTypeTname,jdbcType=VARCHAR},
      VALID_FLAG = #{validFlag,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR}
    where PARAMETER_TYPE_ID = #{parameterTypeId,jdbcType=VARCHAR}
  </update>
</mapper>