<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaic.auth.interior.dao.AppRoleDtoMapper">
	<resultMap id="BaseResultMap" type="com.yaic.auth.interior.dto.AppRoleDto">
		<id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
		<result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
		<result column="UPDATED_DATE" jdbcType="TIMESTAMP" property="updatedDate" />
		<result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
		<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
		<result column="VALID_FLAG" jdbcType="CHAR" property="validFlag" />
	</resultMap>

	
	 <resultMap id="treeNodeMap" type="com.yaic.common.TreeNode">
        <id property="id" column="resource_id" jdbcType="VARCHAR"></id>
        <result property="level" column="resource_level" jdbcType="VARCHAR"></result>
        <result property="parentId" column="parent_resource_id" jdbcType="VARCHAR"></result>
        <result property="text" column="resource_name" jdbcType="VARCHAR"></result>
        <result property="icon" column="resource_icon_class" jdbcType="VARCHAR"></result>
        <result property="selected" column="selected" jdbcType="VARCHAR"></result>
    </resultMap>


	<sql id="Base_Column_List">
		ROLE_ID, CREATED_DATE, CREATED_BY, UPDATED_DATE,
		UPDATED_BY, ROLE_NAME,
		VALID_FLAG
	</sql>

  <sql id="Base_Column_resource_List">
		RESOURCE_ID, CREATED_DATE, CREATED_BY, UPDATED_DATE,
		UPDATED_BY, RESOURCE_NAME,RESOURCE_TYPE,RESOURCE_LEVEL,
		PARENT_RESOURCE_ID,RESOURCE_ICON_CLASS,ACTION_URL,END_FLAG,DISPLAY_ORDER
	</sql>

	<!--多条件查询获取角色列表 -->
	<select id="getLists" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_role
		<where>
			1=1
			<if test=" roleId != null  and  roleId!='' ">
				and t.ROLE_ID = #{roleId}
			</if>
			<if test=" roleName != null  and roleName != '' ">
				and t.ROLE_NAME = #{roleName}
			</if>
			<if test=" validFlag!=null  and  validFlag!='' ">
				and t.VALID_FLAG = #{validFlag}
			</if>
		</where>
		<if test="iDisplayStart != null  and  iDisplayLength != null ">
			limit #{iDisplayStart},#{iDisplayLength}
		</if>
	</select>
	<!--获取列表总条数 -->
	<select id="getTotals" parameterType="java.util.Map" resultType="int">
		select count(1)
		FROM APP_ROLE t
		<where>
			1=1
			<if test="roleId != null and roleId != '' ">
				and t.ROLE_ID = #{roleId}
			</if>
			<if test=" roleName!=null  and roleName!='' ">
				and t.ROLE_NAME = #{roleName}
			</if>
			<if test=" validFlag!=null  and  validFlag!='' ">
				and t.VALID_FLAG = #{validFlag}
			</if>
		</where>
	</select>


	<!-- 根据主键ID获取角色 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_role
		where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</select>
	
	
	
	<!--获取所有的资源菜单  -->
	<select  id="findAllMenuResourceNew"   resultMap="treeNodeMap">
	SELECT A.RESOURCE_ID,A.RESOURCE_LEVEL,A.PARENT_RESOURCE_ID,A.RESOURCE_NAME,
			A.RESOURCE_TYPE,A.RESOURCE_ICON_CLASS,
			CASE WHEN B.ROLE_RESOURCE_ID is NULL THEN 0 ELSE 1 END AS SELECTED
		FROM APP_RESOURCE A 
		LEFT JOIN APP_ROLE_RESOURCE B ON A.RESOURCE_ID = B.RESOURCE_ID AND B.ROLE_ID = #{roleId}
		ORDER BY A.RESOURCE_LEVEL DESC , A.PARENT_RESOURCE_ID , A.RESOURCE_ID
	</select>
	
     
	
	
	
	

	<!-- 根据主键删除单个角色 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		app_role
		where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.yaic.auth.interior.dto.AppRoleDto">
		insert into app_role (ROLE_ID,
		CREATED_DATE, CREATED_BY,
		UPDATED_DATE, UPDATED_BY, ROLE_NAME,
		VALID_FLAG)
		values (#{roleId,jdbcType=VARCHAR},
		#{createdDate,jdbcType=TIMESTAMP},
		#{createdBy,jdbcType=VARCHAR},
		#{updatedDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR},
		#{roleName,jdbcType=VARCHAR},
		#{validFlag,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yaic.auth.interior.dto.AppRoleDto">
		insert into app_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="createdDate != null">
				CREATED_DATE,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="updatedDate != null">
				UPDATED_DATE,
			</if>
			<if test="updatedBy != null">
				UPDATED_BY,
			</if>
			<if test="roleName != null">
				ROLE_NAME,
			</if>
			<if test="validFlag != null">
				VALID_FLAG,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				#{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
			<if test="validFlag != null">
				#{validFlag,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yaic.auth.interior.dto.AppRoleDto">
		update app_role
		<set>
			<if test="createdDate != null">
				CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedBy != null">
				UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="roleName != null">
				ROLE_NAME = #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="validFlag != null">
				VALID_FLAG = #{validFlag,jdbcType=CHAR},
			</if>
		</set>
		where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yaic.auth.interior.dto.AppRoleDto">
		update app_role
		set CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
		CREATED_BY =
		#{createdBy,jdbcType=VARCHAR},
		UPDATED_DATE =
		#{updatedDate,jdbcType=TIMESTAMP},
		UPDATED_BY =
		#{updatedBy,jdbcType=VARCHAR},
		ROLE_NAME =
		#{roleName,jdbcType=VARCHAR},
		VALID_FLAG = #{validFlag,jdbcType=CHAR}
		where ROLE_ID = #{roleId,jdbcType=VARCHAR}
	</update>
	<!-- 获取全部角色 -->
	<select id="getAllRoles"  resultMap="BaseResultMap">
	SELECT ROLE_ID , CREATED_DATE , CREATED_BY , UPDATED_DATE , UPDATED_BY , ROLE_NAME , VALID_FLAG  FROM APP_ROLE t  
	ORDER BY T.UPDATED_DATE , T.ROLE_ID 
	</select>
</mapper>