<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaic.auth.interior.dao.AppResourceDtoMapper">

	<resultMap id="BaseResultMap" type="com.yaic.auth.interior.dto.AppResourceDto">
		<id column="RESOURCE_ID" jdbcType="VARCHAR" property="resourceId" />
		<result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
		<result column="UPDATED_DATE" jdbcType="TIMESTAMP" property="updatedDate" />
		<result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
		<result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
		<result column="RESOURCE_TYPE" jdbcType="VARCHAR" property="resourceType" />
		<result column="RESOURCE_LEVEL" jdbcType="DECIMAL" property="resourceLevel" />
		<result column="PARENT_RESOURCE_ID" jdbcType="VARCHAR"
			property="parentResourceId" />
		<result column="RESOURCE_ICON_CLASS" jdbcType="VARCHAR"
			property="resourceIconClass" />
		<result column="ACTION_URL" jdbcType="VARCHAR" property="actionUrl" />
		<result column="END_FLAG" jdbcType="INTEGER" property="endFlag" />
		<result column="DISPLAY_ORDER" jdbcType="DECIMAL" property="displayOrder" />
	</resultMap>

	<resultMap id="treeNodeMap" type="com.yaic.common.TreeNode">
		<result property="id" column="resource_id" jdbcType="VARCHAR"></result>
		<result property="level" column="resource_level" jdbcType="VARCHAR"></result>
		<result property="parentId" column="parent_resource_id"
			jdbcType="VARCHAR"></result>
		<result property="text" column="resource_name" jdbcType="VARCHAR"></result>
		<result property="icon" column="resource_icon_class" jdbcType="VARCHAR"></result>
		<result property="type" column="resource_type" jdbcType="VARCHAR"></result>
		<result property="actionUrl" column="action_url" jdbcType="VARCHAR"></result>
		<result property="endFlag" column="end_flag" jdbcType="VARCHAR"></result>
		<result property="displayOrder" column="display_order"
			jdbcType="INTEGER"></result>
		<result property="opened" column="opened" jdbcType="VARCHAR"></result>
	</resultMap>

	<sql id="Base_Column_List">
		RESOURCE_ID, CREATED_DATE, CREATED_BY, UPDATED_DATE,
		UPDATED_BY, RESOURCE_NAME,
		RESOURCE_TYPE,
		RESOURCE_LEVEL,
		PARENT_RESOURCE_ID, RESOURCE_ICON_CLASS, ACTION_URL, END_FLAG,
		DISPLAY_ORDER
	</sql>

	<select id="getInfoByResourceId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_resource
		where RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
	</select>

	<select id="getInfoByResourceName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_resource
		where RESOURCE_NAME =
		#{resourceName,jdbcType=VARCHAR}
	</select>

	<select id="findAllMenuResource" resultMap="treeNodeMap">
		SELECT
		A.RESOURCE_ID,A.RESOURCE_NAME,A.RESOURCE_TYPE,A.RESOURCE_LEVEL,A.PARENT_RESOURCE_ID,A.PARENT_RESOURCE_ID,A.RESOURCE_ICON_CLASS,A.END_FLAG,A.ACTION_URL,A.DISPLAY_ORDER,
		CASE WHEN A.RESOURCE_LEVEL = 1 THEN 1 ELSE 0 END AS OPENED
		FROM
		APP_RESOURCE A
		WHERE A.RESOURCE_TYPE != 'service'
		ORDER BY
		A.RESOURCE_LEVEL DESC ,A.DISPLAY_ORDER, A.PARENT_RESOURCE_ID ,
		A.RESOURCE_ID
	</select>

	<select id="findAllServiceResource" resultMap="treeNodeMap">
		SELECT
		A.RESOURCE_ID
		,A.RESOURCE_NAME,A.RESOURCE_TYPE,A.RESOURCE_LEVEL,A.PARENT_RESOURCE_ID,A.PARENT_RESOURCE_ID,A.RESOURCE_ICON_CLASS,A.END_FLAG,A.ACTION_URL,A.DISPLAY_ORDER,
		CASE WHEN A.RESOURCE_LEVEL = 1 THEN 1 WHEN A.RESOURCE_LEVEL = '2' THEN
		1 ELSE 0 END AS OPENED
		FROM APP_RESOURCE A
		WHERE A.RESOURCE_TYPE =
		'service'
		ORDER BY A.RESOURCE_LEVEL DESC ,A.DISPLAY_ORDER ,
		A.PARENT_RESOURCE_ID,
		A.RESOURCE_ID
	</select>

	<select id="findMaxResourceId" resultMap="BaseResultMap">
		SELECT
		MAX(A.RESOURCE_ID) AS RESOURCE_ID
		FROM APP_RESOURCE A
		WHERE
		A.RESOURCE_ID !='9999'
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		app_resource
		where RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.yaic.auth.interior.dto.AppResourceDto">
		insert into app_resource
		(RESOURCE_ID, CREATED_DATE, CREATED_BY,
		UPDATED_DATE, UPDATED_BY,
		RESOURCE_NAME,
		RESOURCE_TYPE, RESOURCE_LEVEL, PARENT_RESOURCE_ID,
		RESOURCE_ICON_CLASS, ACTION_URL, END_FLAG,
		DISPLAY_ORDER)
		values
		(#{resourceId,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP},
		#{createdBy,jdbcType=VARCHAR},
		#{updatedDate,jdbcType=TIMESTAMP},
		#{updatedBy,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR},
		#{resourceType,jdbcType=VARCHAR}, #{resourceLevel,jdbcType=DECIMAL},
		#{parentResourceId,jdbcType=VARCHAR},
		#{resourceIconClass,jdbcType=VARCHAR}, #{actionUrl,jdbcType=VARCHAR},
		#{endFlag,jdbcType=CHAR},
		#{displayOrder,jdbcType=DECIMAL})
	</insert>

	<insert id="insertSelective" parameterType="com.yaic.auth.interior.dto.AppResourceDto">
		insert into app_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resourceId != null">
				RESOURCE_ID,
			</if>
			<if test="createdDate != null">
				CREATED_DATE,
			</if>
			<if test="createdBy != null">
				CREATED_BY,
			</if>
			<if test="updatedDate != null">
				UPDATED_DATE,
			</if>
			<if test="updatedBy != null">
				UPDATED_BY,
			</if>
			<if test="resourceName != null">
				RESOURCE_NAME,
			</if>
			<if test="resourceType != null">
				RESOURCE_TYPE,
			</if>
			<if test="resourceLevel != null">
				RESOURCE_LEVEL,
			</if>
			<if test="parentResourceId != null">
				PARENT_RESOURCE_ID,
			</if>
			<if test="resourceIconClass != null">
				RESOURCE_ICON_CLASS,
			</if>
			<if test="actionUrl != null">
				ACTION_URL,
			</if>
			<if test="endFlag != null">
				END_FLAG,
			</if>
			<if test="displayOrder != null">
				DISPLAY_ORDER,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resourceId != null">
				#{resourceId,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				#{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="resourceName != null">
				#{resourceName,jdbcType=VARCHAR},
			</if>
			<if test="resourceType != null">
				#{resourceType,jdbcType=VARCHAR},
			</if>
			<if test="resourceLevel != null">
				#{resourceLevel,jdbcType=DECIMAL},
			</if>
			<if test="parentResourceId != null">
				#{parentResourceId,jdbcType=VARCHAR},
			</if>
			<if test="resourceIconClass != null">
				#{resourceIconClass,jdbcType=VARCHAR},
			</if>
			<if test="actionUrl != null">
				#{actionUrl,jdbcType=VARCHAR},
			</if>
			<if test="endFlag != null">
				#{endFlag,jdbcType=CHAR},
			</if>
			<if test="displayOrder != null">
				#{displayOrder,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.yaic.auth.interior.dto.AppResourceDto">
		update app_resource
		<set>
			<if test="createdDate != null">
				CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				CREATED_BY = #{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedBy != null">
				UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="resourceName != null">
				RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
			</if>
			<if test="resourceType != null">
				RESOURCE_TYPE = #{resourceType,jdbcType=VARCHAR},
			</if>
			<if test="resourceLevel != null">
				RESOURCE_LEVEL = #{resourceLevel,jdbcType=DECIMAL},
			</if>
			<if test="parentResourceId != null">
				PARENT_RESOURCE_ID =
				#{parentResourceId,jdbcType=VARCHAR},
			</if>
			<if test="resourceIconClass != null">
				RESOURCE_ICON_CLASS =
				#{resourceIconClass,jdbcType=VARCHAR},
			</if>
			<if test="actionUrl != null">
				ACTION_URL = #{actionUrl,jdbcType=VARCHAR},
			</if>
			<if test="endFlag != null">
				END_FLAG = #{endFlag,jdbcType=CHAR},
			</if>
			<if test="displayOrder != null">
				DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
			</if>
		</set>
		where RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.yaic.auth.interior.dto.AppResourceDto">
		update
		app_resource
		set CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
		CREATED_BY = #{createdBy,jdbcType=VARCHAR},
		UPDATED_DATE =
		#{updatedDate,jdbcType=TIMESTAMP},
		UPDATED_BY =
		#{updatedBy,jdbcType=VARCHAR},
		RESOURCE_NAME =
		#{resourceName,jdbcType=VARCHAR},
		RESOURCE_TYPE =
		#{resourceType,jdbcType=VARCHAR},
		RESOURCE_LEVEL =
		#{resourceLevel,jdbcType=DECIMAL},
		PARENT_RESOURCE_ID =
		#{parentResourceId,jdbcType=VARCHAR},
		RESOURCE_ICON_CLASS =
		#{resourceIconClass,jdbcType=VARCHAR},
		ACTION_URL =
		#{actionUrl,jdbcType=VARCHAR},
		END_FLAG = #{endFlag,jdbcType=CHAR},
		DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL}
		where RESOURCE_ID =
		#{resourceId,jdbcType=VARCHAR}
	</update>

</mapper>