<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaic.auth.interior.dao.AppUserDtoMapper">

  <resultMap id="BaseResultMap" type="com.yaic.auth.interior.dto.AppUserDto">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="UPDATED_DATE" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USER_CNAME" jdbcType="VARCHAR" property="userCname" />
    <result column="USER_TNAME" jdbcType="VARCHAR" property="userTname" />
    <result column="USER_ENAME" jdbcType="VARCHAR" property="userEname" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
    <result column="SEAL" jdbcType="VARCHAR" property="seal" />
    <result column="PASSWORD_SET_DATE" jdbcType="TIMESTAMP" property="passwordSetDate" />
    <result column="PASSWORD_EXPIRE_DATE" jdbcType="TIMESTAMP" property="passwordExpireDate" />
    <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="VALID_FLAG" jdbcType="INTEGER" property="validFlag" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List">
    USER_ID, CREATED_DATE, CREATED_BY, UPDATED_DATE, UPDATED_BY, USER_CODE, USER_CNAME, 
    USER_TNAME, USER_ENAME, PASSWORD, SALT, SEAL, PASSWORD_SET_DATE, PASSWORD_EXPIRE_DATE, 
    COMPANY_CODE, PHONE, MOBILE, ADDRESS, POST_CODE, EMAIL, VALID_FLAG, FLAG,REMARK
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  
    <select id="getLists" parameterType="java.util.Map"   resultType="map">  
    select 
    <include refid="Base_Column_List" />
    from app_user 
      <where>
			1=1
			<if test="userCname != null and userCname != '' ">
				AND a.USER_CNAME LIKE CONCAT('%',#{userCname},'%')
			</if>
			<if test="userCode != null and userCode != '' ">
				AND a.USER_CODE LIKE CONCAT('%',#{userCode},'%')
			</if>
			<if test="userTname != null and userTname != '' ">
				AND a.USER_TNAME LIKE CONCAT('%',#{userTname},'%')
			</if>
		</where>
		<if test="iDisplayStart != null  and  iDisplayLength != null ">
			limit #{iDisplayStart},#{iDisplayLength}
		</if>
  </select> 
  
	<select id="getTotal" parameterType="java.util.Map" resultType="int">
		select count(1)
		FROM APP_USER a
		 <where>
			1=1
			<if test="userCname != null and userCname != '' ">
				AND a.USER_CNAME LIKE CONCAT('%',#{userCname},'%')
			</if>
			<if test="userCode != null and userCode != '' ">
				AND a.USER_CODE LIKE CONCAT('%',#{userCode},'%')
			</if>
			<if test="userTname != null and userTname != '' ">
				AND a.USER_TNAME LIKE CONCAT('%',#{userTname},'%')
			</if>
		</where>
	</select>
  
  
  
  
    <select id="getInfoByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_user
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.yaic.auth.interior.dto.AppUserDto">
    insert into app_user (
     USER_ID,
     CREATED_DATE, 
     CREATED_BY, 
     UPDATED_DATE, 
     UPDATED_BY, 
     USER_CODE, 
     USER_CNAME, 
     USER_TNAME, 
     USER_ENAME, 
     PASSWORD, 
     SALT, 
     SEAL, 
     PASSWORD_SET_DATE, 
     PASSWORD_EXPIRE_DATE, 
     COMPANY_CODE, 
     PHONE, MOBILE, 
     ADDRESS, 
     POST_CODE, 
     EMAIL,       
     VALID_FLAG, 
     FLAG, 
     REMARK
      )
    values (
      #{userId,jdbcType=VARCHAR},
      #{createdDate,jdbcType=TIMESTAMP},
      #{createdBy,jdbcType=VARCHAR}, 
      #{updatedDate,jdbcType=TIMESTAMP},
      #{updatedBy,jdbcType=VARCHAR},
      #{userCode,jdbcType=VARCHAR}, 
      #{userCname,jdbcType=VARCHAR},
      #{userTname,jdbcType=VARCHAR},
      #{userEname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, 
      #{seal,jdbcType=VARCHAR}, 
      #{passwordSetDate,jdbcType=TIMESTAMP}, 
      #{passwordExpireDate,jdbcType=TIMESTAMP}, 
      #{companyCode,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, 
      #{validFlag,jdbcType=CHAR}, 
      #{flag,jdbcType=VARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.yaic.auth.interior.dto.AppUserDto">
    insert into app_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="updatedDate != null">
        UPDATED_DATE,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="userCname != null">
        USER_CNAME,
      </if>
      <if test="userTname != null">
        USER_TNAME,
      </if>
      <if test="userEname != null">
        USER_ENAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="seal != null">
        SEAL,
      </if>
      <if test="passwordSetDate != null">
        PASSWORD_SET_DATE,
      </if>
      <if test="passwordExpireDate != null">
        PASSWORD_EXPIRE_DATE,
      </if>
      <if test="companyCode != null">
        COMPANY_CODE,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="postCode != null">
        POST_CODE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="validFlag != null">
        VALID_FLAG,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userCname != null">
        #{userCname,jdbcType=VARCHAR},
      </if>
      <if test="userTname != null">
        #{userTname,jdbcType=VARCHAR},
      </if>
      <if test="userEname != null">
        #{userEname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="seal != null">
        #{seal,jdbcType=VARCHAR},
      </if>
      <if test="passwordSetDate != null">
        #{passwordSetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordExpireDate != null">
        #{passwordExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        #{validFlag,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yaic.auth.interior.dto.AppUserDto">
    update app_user
    <set>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDate != null">
        UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userCname != null">
        USER_CNAME = #{userCname,jdbcType=VARCHAR},
      </if>
      <if test="userTname != null">
        USER_TNAME = #{userTname,jdbcType=VARCHAR},
      </if>
      <if test="userEname != null">
        USER_ENAME = #{userEname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="seal != null">
        SEAL = #{seal,jdbcType=VARCHAR},
      </if>
      <if test="passwordSetDate != null">
        PASSWORD_SET_DATE = #{passwordSetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordExpireDate != null">
        PASSWORD_EXPIRE_DATE = #{passwordExpireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null">
        VALID_FLAG = #{validFlag,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.yaic.auth.interior.dto.AppUserDto">
    update app_user
    set CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_DATE = #{updatedDate,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      USER_CNAME = #{userCname,jdbcType=VARCHAR},
      USER_TNAME = #{userTname,jdbcType=VARCHAR},
      USER_ENAME = #{userEname,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      SEAL = #{seal,jdbcType=VARCHAR},
      PASSWORD_SET_DATE = #{passwordSetDate,jdbcType=TIMESTAMP},
      PASSWORD_EXPIRE_DATE = #{passwordExpireDate,jdbcType=TIMESTAMP},
      COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      VALID_FLAG = #{validFlag,jdbcType=CHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  
    <delete  id="delete"  parameterType="String">
       delete from app_user
    where USER_code = #{userCode,jdbcType=VARCHAR}
    </delete>
</mapper>