<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaic.auth.thirdParty.dao.DataSourceDtoMapper">
	<resultMap id="BaseResultMap" type="com.yaic.auth.thirdParty.dto.DataSourceDto">
		<id column="data_source_id" jdbcType="INTEGER" property="dataSourceId" />
		<result column="data_source" jdbcType="VARCHAR" property="dataSource" />
		<result column="source_name" jdbcType="VARCHAR" property="sourceName" />
		<result column="app_id" jdbcType="VARCHAR" property="appId" />
		<result column="auth_id" jdbcType="INTEGER" property="authId" />
		<result column="valid_flag" jdbcType="INTEGER" property="validFlag" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="created_user" jdbcType="VARCHAR" property="createdUser" />
		<result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
		<result column="updated_user" jdbcType="VARCHAR" property="updatedUser" />
	</resultMap>
	<sql id="Base_Column_List">
		data_source_id, data_source, source_name, app_id, auth_id,
		valid_flag, created_date,
		created_user, updated_date, updated_user
	</sql>
	<select id="selectOneByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_data_source
		where data_source_id =
		#{dataSourceId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_data_source
		where data_source_id = #{dataSourceId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yaic.auth.thirdParty.dto.DataSourceDto">
		insert into t_data_source
		(data_source_id, data_source, source_name,
		app_id, auth_id, valid_flag,
		created_date, created_user, updated_date,
		updated_user)
		values
		(#{dataSourceId,jdbcType=INTEGER}, #{dataSource,jdbcType=VARCHAR},
		#{sourceName,jdbcType=VARCHAR},
		#{appId,jdbcType=VARCHAR},
		#{authId,jdbcType=INTEGER}, #{validFlag,jdbcType=CHAR},
		#{createdDate,jdbcType=TIMESTAMP}, #{createdUser,jdbcType=VARCHAR},
		#{updatedDate,jdbcType=TIMESTAMP},
		#{updatedUser,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.yaic.auth.thirdParty.dto.DataSourceDto">
		insert into t_data_source
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dataSourceId != null">
				data_source_id,
			</if>
			<if test="dataSource != null">
				data_source,
			</if>
			<if test="sourceName != null">
				source_name,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="authId != null">
				auth_id,
			</if>
			<if test="validFlag != null">
				valid_flag,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="createdUser != null">
				created_user,
			</if>
			<if test="updatedDate != null">
				updated_date,
			</if>
			<if test="updatedUser != null">
				updated_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dataSourceId != null">
				#{dataSourceId,jdbcType=INTEGER},
			</if>
			<if test="dataSource != null">
				#{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="sourceName != null">
				#{sourceName,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=VARCHAR},
			</if>
			<if test="authId != null">
				#{authId,jdbcType=INTEGER},
			</if>
			<if test="validFlag != null">
				#{validFlag,jdbcType=CHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdUser != null">
				#{createdUser,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				#{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedUser != null">
				#{updatedUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yaic.auth.thirdParty.dto.DataSourceDto">
		update t_data_source
		<set>
			<if test="dataSource != null">
				data_source = #{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="sourceName != null">
				source_name = #{sourceName,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				app_id = #{appId,jdbcType=VARCHAR},
			</if>
			<if test="authId != null">
				auth_id = #{authId,jdbcType=INTEGER},
			</if>
			<if test="validFlag != null">
				valid_flag = #{validFlag,jdbcType=CHAR},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdUser != null">
				created_user = #{createdUser,jdbcType=VARCHAR},
			</if>
			<if test="updatedDate != null">
				updated_date = #{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedUser != null">
				updated_user = #{updatedUser,jdbcType=VARCHAR},
			</if>
		</set>
		where data_source_id = #{dataSourceId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yaic.auth.thirdParty.dto.DataSourceDto">
		update
		t_data_source
		set data_source = #{dataSource,jdbcType=VARCHAR},
		source_name = #{sourceName,jdbcType=VARCHAR},
		app_id =
		#{appId,jdbcType=VARCHAR},
		auth_id = #{authId,jdbcType=INTEGER},
		valid_flag = #{validFlag,jdbcType=CHAR},
		created_date =
		#{createdDate,jdbcType=TIMESTAMP},
		created_user =
		#{createdUser,jdbcType=VARCHAR},
		updated_date =
		#{updatedDate,jdbcType=TIMESTAMP},
		updated_user =
		#{updatedUser,jdbcType=VARCHAR}
		where data_source_id =
		#{dataSourceId,jdbcType=INTEGER}
	</update>
	<select id="selectByConditions" parameterType="com.yaic.auth.thirdParty.dto.DataSourceDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_data_source
		<trim prefix="WHERE (" suffix=")" prefixOverrides="AND">
			<if test="dataSourceId != null">
				AND data_source_id = #{dataSourceId,jdbcType=VARCHAR}
			</if>
			<if test="dataSource != null">
				AND data_source = #{dataSource,jdbcType=VARCHAR}
			</if>
			<if test="sourceName != null">
				AND source_name = #{sourceName,jdbcType=VARCHAR}
			</if>
			<if test="appId != null">
				AND app_id = #{appId,jdbcType=VARCHAR}
			</if>
			<if test="authId != null">
				AND auth_id = #{authId,jdbcType=INTEGER}
			</if>
			<if test="validFlag != null">
				AND valid_flag = #{validFlag,jdbcType=CHAR}
			</if>
			<if test="createdDate != null">
				AND created_date = #{createdDate,jdbcType=TIMESTAMP}
			</if>
			<if test="createdUser != null">
				AND created_user = #{createdUser,jdbcType=VARCHAR}
			</if>
			<if test="updatedDate != null">
				AND updated_date = #{updatedDate,jdbcType=TIMESTAMP}
			</if>
			<if test="updatedUser != null">
				AND updated_user = #{updatedUser,jdbcType=VARCHAR}
			</if>
		</trim>

	</select>

	<select id="selectFuzzyByConditions" parameterType="com.yaic.auth.thirdParty.dto.DataSourceDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_data_source
		<trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR ">
			<if test="dataSource != null">
				and data_source like CONCAT('%', #{dataSource}, '%')
			</if>
			<if test="sourceName != null">
				and source_name like CONCAT('%', #{sourceName}, '%')
			</if>
			<if test="validFlag != null">
				and valid_flag = #{validFlag}
			</if>
		</trim>
	</select>
	<select id="selectOneByDataSource" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_data_source
		where data_source = #{dataSource}
	</select>
</mapper>