<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.test.dao.ProductMapper">

  <resultMap id="BaseResultMap" type="hello.test.entity.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>

  <sql id="Base_Column_List">
    product_id, product_name, product_type, create_user
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  
  <select id="selectInfos" parameterType="hello.test.entity.Product" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from t_product
    <where>
		<if test="productId != null">
		  and product_id = #{productId,jdbcType=INTEGER}
		</if>
		<if test="productName != null">
		  and product_name like CONCAT('%', #{productName}, '%')
		</if>
		<if test="productType != null">
		  and product_type = #{productType,jdbcType=INTEGER}
		</if>
		<if test="createUser != null">
		  and create_user like CONCAT('%', #{createUser}, '%')
		</if>
    </where>
  </select>
  
  <insert id="insert" parameterType="hello.test.entity.Product">
    insert into t_product (product_id, product_name, product_type, 
      create_user)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productType,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="hello.test.entity.Product">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="hello.test.entity.Product">
    update t_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="hello.test.entity.Product">
    update t_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  
</mapper>